<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gigs</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>This month in Belfast!</h1>

        <% 
            gigdata.forEach( (gig)=> { 
            
            const options = {
                    weekday: 'long',
                    month:'long',
                    day:'2-digit'
           }
         
            let perform = gig.performs_on;
            perform = perform.toLocaleString('en-GB',options); 

           // let perform = gig.performs_on.toLocaleString('en-GB',options); 

        %>

            <article>
                 <h3> <%= gig.name %></h3>
                 <p><%= gig.event_details %></p>
                  <footer><%= gig.venue %> - <%= perform %></footer>
            </article>
      
        <% }); %>


    </main>

</body>
</html>